{% extends 'base.html' %}

{% block title %} Confirmacao {% endblock %}

{% block main %}

                <h1><center>Tem certeza que deseja deletar?</center></h1>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   <center><button type="submit" class="btn btn-danger">Delete Projeto</button>
                   <a href="{% url 'list_project' %}" class="btn btn-primary"> Listar Projetos</a></center>
                </form>

{% endblock %}